/* GLOBAL ELEMENTS */
.hidden{
	display: none;
}

img, embed, object, video{
  max-width: 100%; 
}

html{
  box-sizing: border-box; 
}

.container{
	margin: 0 auto;
	max-width: 1200px;
}

/*Header and Navigation*/

#mainLogo{
	margin: 0 auto;
	display: block;
}

#hamburger{
	border: none;
}

#mainHeader{
	margin-left: 10px;
	margin-right: 10px;
}

#mainNav{
	text-align: right;
	margin-right: 25px;
}

#mainNav button{
	background: url(../img/hamburger.svg) center no-repeat;
	transition: all .1s ease;
	width: 35px;
	height: 35px;
	border: 0px;
}

#mainNav button.clicked{
	transform: rotate(90deg);
}

#mainNav a{
	text-decoration: none;
	color: #efefef;
}

#mainNav li a{
	font-family: sans-serif;
	display: block;
	color: #d21e2f;
	padding: 10px 0 10px 0;
	font-size: 18px;
}

#hamContainer{
	margin-top: 15px;
	display: none;
}

#hamContainer.slide{
	display: block;
}

header:after{
	content:"";
	display: block;
	width: 280px;
	border-bottom: 3px solid #d21e2f;
	margin: 15px auto 0 auto;
}